@{
    ViewData["Title"] = "Compra Confirmada";
}

<h1>Compra Confirmada</h1>
<p>Su compra ha sido confirmada y será procesada a la brevedad.</p>

<script>
    alert("@ViewBag.MensajeConfirmacion");
</script>
